
#-------------------------------------------------------------------------------
#
# Maintainer:   jeffskinnerbox@yahoo.com / www.jeffskinnerbox.me
# Version:      1.2.0
#
# DESCRIPTION:
#    This file specifies intentionally untracked files that Git should ignore.
#
#    Each line in this .gitignore file specifies a regular expression pattern
#    that, when matched, the corresponding file will NOT be include in Git processing.
#
# DOCUMENTATION:
#    Some basic rules to help you to set up your .gitignore file correctly:
#
#      * Any line that starts with a hash (#) is a comment.
#      * The \ character escapes special characters.
#      * The / character means that the rule applies only to files and folders located in the same folder.
#      * An asterisk (*) means any number of characters (zero or more).
#      * Two asterisks (**) specify any number of subdirectories.
#      * A question mark (?) replaces zero or one character.
#      * An exclamation sign (!) designates the inversion rule
#        (i.e., it includes any file that was excluded by a previous pattern).
#      * Blank lines are ignored, so you can use them to add space and make your file easier to read.
#      * Adding / on the end ignores entire directory paths.
#
# TESTING:
#
# SOURCE:
#    https://git-scm.com/docs/gitignore
#    https://git-scm.com/docs/git-check-ignore
#
#-------------------------------------------------------------------------------


### --------------------------- Project Specific --------------------------- ###
#pkg-nvim/nvim/plugin/*
#pkg-nvim/nvim/swap/*
#pkg-nvim/nvim/undo/*
#pkg-vim/.vim/backup/*

#pkg-nvim/*/swap/
#pkg-nvim/*/undo/
#pkg-vim/.vim/backup/*
#swap/
#undo/
#pkg-vim/.vim/backup/*

#pkg-tmux/.tmux/plugins/*            # ignore evertything in 'plugins' directory
#!pkg-tmux/.tmux/plugins/tpm         # ... but make an exception for 'tpm' directory
#!pkg-tmux/.tmux/plugins/README.md   # ... and make an exception for 'README.md' file

#pkg-tmux/.tmux/plugins/tmux-prefix-highlight
#pkg-tmux/.tmux/plugins/tmux-sensible
#pkg-tmux/.tmux/plugins/tmux-yank
#pkg-tmux/.tmux/plugins/vim-tmux-navigator

#pkg-vim/.vim/.netrwhist

log/*                                  # ignore evertything in 'log' directory



### ------------------------------- General -------------------------------- ###

### Compiled Source ###
*.pyc
*.com
*.class
*.dll
*.exe
*.o
*.so
*.bin
*.elf

### Packages ###
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

### Unit test / linters & formaters / coverage reports ###
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.mypy_cache
.ruff_cache

### Files containing secrets ###
secret*
secrets*

### Logs & Databases ###
*.log
*.sql
*.sqlite
*.dblite
.ipynb_checkpoints
.ropeproject
__pycache__

### OS Generated Files ###
*.out
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

### Vagrant files & directory ###
*.box
.vagrant

#-------------------------------------------------------------------------------

